[[source]]

url = "https://pypi.python.org/simple"
name = "pypi"
verify_ssl = true


[dev-packages]



[requires]

python_version = "3.6"


[packages]

cython = "*"
numpy = "*"
opencv-python = "*"
pillow = "*"
pkgconfig = "*"
"yolo34py" = "*"
ipython = "*"
matplotlib = "*"
flask = "*"
